stacksidebar {
  border-left-width: 0px;
  border-right-width: 0px;
}

/* Mimic the status page. */
.avatar-page,
.timed-animation-page {
  margin: 36px 12px;
}

.avatar-page > box > label.title,
.timed-animation-page > box > label.title {
  margin-bottom: 12px;
}

.avatar-page > box > label.description {
  margin-bottom: 36px;
}

#custom-button-1 {
  color: var(--accent-color);
  --accent-color: var(--red-3);
}

#custom-button-2 {
  color: var(--accent-color);
  --accent-color: var(--purple-3);
}

#custom-button-3 {
  --accent-bg-color: var(--green-5);
  --accent-fg-color: white;
  --accent-color: #1b8553;
}

#custom-button-4 {
  --accent-bg-color: var(--orange-4);
  --accent-fg-color: white;
  --accent-color: var(--orange-5);
}

#animation-sample {
  min-width: 30px;
  min-height: 30px;
  border-radius: 24px;
  background: linear-gradient(to bottom, var(--green-2), var(--green-5));
}

.tab-page {
  --accent-bg-color: alpha(black, .6);
  --accent-fg-color: white;
  --accent-color: alpha(black, .75);
}

.tab-page-color-1 {
  background: shade(var(--blue-1), 1.2);
}

.tab-page-color-2 {
  background: shade(var(--green-1), 1.2);
}

.tab-page-color-3 {
  background: shade(var(--yellow-1), 1.2);
}

.tab-page-color-4 {
  background: shade(var(--orange-1), 1.2);
}

.tab-page-color-5 {
  background: shade(var(--red-1), 1.4);
}

.tab-page-color-6 {
  background: shade(var(--purple-1), 1.3);
}

.tab-page-color-7 {
  background: shade(var(--brown-1), 1.3);
}

.tab-page-color-8 {
  background: white;
}
