toolbarview.undershoot-top    popover scrolledwindow undershoot.top,
toolbarview.undershoot-bottom popover scrolledwindow undershoot.bottom {
  background: none;
  box-shadow: none;
}

popover {
  &.background {
    background-color: transparent;
    font: initial;
  }

  > arrow,
  > contents {
    background-color: var(--popover-bg-color);
    color: var(--popover-fg-color);
    background-clip: padding-box;
    border: 1px solid if($contrast == 'high', $border_color, transparentize(black, .86));
    box-shadow: 0 1px 5px 1px transparentize(black, .91),
                0 2px 14px 3px transparentize(black, .95);
  }

  > contents {
    padding: 8px;
    border-radius: $popover_radius;

    > list,
    > .view,
    > toolbar {
      border-style: none;
      background-color: transparent;
    }
  }

  .osd &,
  &.touch-selection,
  &.magnifier {
    background-color: transparent;

    > arrow,
    > contents {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);
      box-shadow: none;
    }
  }

  --shade-color: var(--popover-shade-color);
}
