.view,
%view {
  color: var(--view-fg-color);
  background-color: var(--view-bg-color);

  &:disabled {
    color: gtkalpha(currentColor, .5);
    background-color: gtkmix(var(--window-bg-color), var(--view-bg-color), 60%);
  }

  &:selected {
    &:focus, & {
      background-color: $view_selected_color;

      border-radius: $button_radius;
    }
  }
}

textview {
  caret-color: currentColor;

  > text {
    @extend %view;

    background-color: transparent;
  }

  > border {
    background-color: gtkmix(var(--window-bg-color), var(--view-bg-color), 50%);
  }

  &:drop(active) {
    caret-color: $drop_target_color;
  }
}

rubberband {
  border: 1px solid var(--accent-color);
  background-color: gtkalpha(var(--accent-color), 0.2);
}

flowbox > flowboxchild,
gridview > child {
  padding: 3px;
  border-radius: $button_radius;

  @include focus-ring();

  &:selected {
    background-color: $view_selected_color;

    @if $contrast == 'high' {
      box-shadow: inset 0 0 0 1px $border_color;
    }
  }
}

gridview > child.activatable {
  &:hover { background-color: $view_hover_color; }

  &:active { background-color: $view_active_color; }

  &:selected {
    &:hover { background-color: $view_selected_hover_color; }

    &:active { background-color: $view_selected_active_color; }
  }

  @if $contrast == 'high' {
    &:hover, &:active {
      box-shadow: inset 0 0 0 1px $border_color;
    }
  }
}
